
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("/images/unicorn-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.p-datatable .p-datatable-thead > tr > th {
  background-color: transparent;
  font-size: 20px;
  font-weight: 750;
}
.p-datatable .p-datatable-tbody > tr {
  background: transparent;
  color: #4b5563;
  transition: box-shadow 0.2s;
  font-size: 20px;
  font-weight: 750;
}

.unicorn-crud.fondo-gris {
  background-image: url("/images/unicorn-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
  padding: 2rem;
  max-width: 100%;
  margin: 0 auto;

  text-align: center;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
